@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, Nanum Gothic, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

@layer base {
	h1 {
		@apply text-2xl;
	}
	h2 {
		@apply text-xl;
	}
	.wrapper {
		@apply mx-auto w-full sm:max-w-2xl md:max-w-3xl px-4;
	}
	.category-header {
		@apply pt-12 pb-6;
	}
	.category-title {
		@apply text-3xl md:text-4xl font-bold mb-4;
	}
	.category-desc {
		@apply text-gray-500 text-sm md:text-base;
	}
	.tw-dark {
		@apply dark:bg-slate-900 dark:text-slate-400;
	}
	.about-title {
		@apply mb-5 underline decoration-4 decoration-indigo-500 dark:decoration-yellow-200;
	}
	article {
		@apply mb-8 md:flex border-4 border-indigo-500 dark:border-yellow-200 bg-slate-100 rounded-xl p-8 md:p-0 dark:bg-slate-800;
	}
	article .content {
		@apply md:p-6 text-center md:text-left space-y-4;
	}
}

@layer components {
	.btn-blue {
		@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
	}
}
